

* {
  box-sizing: border-box;
}

body {
  margin-left:400px;
  position:relative;
}
.App {
  width:700px;
}


/* .app-header {

  text-align: center;
  height:70px;
  font-size: 35px;
  background-color: blue;
  color: white;
  margin:0 auto;

} */

.react-pdf__Page__textContent {
  display:none;

  
}

.react-pdf__Page__annotations {
  display:none;

}

.react-pdf__Page {
  border:2px solid black;
}

.document-container {
  margin:0 auto;
  width:100%;
}





